@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

$custom-colors: (
  "light-green": #00CED1,
  "deep-navy": #05092E,
  "slate": #F5F5F5,
  "gray-text": #3C3C3C,
  "input-border": #9B9B9B,
  "lighter-green": rgba(0, 206, 209, 1),
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$custom-font-sizes: (
  70: 70px,
  18: 18px,
  40: 40px,
  48: 48px,
  24: 24px,
  32: 32px,
  14: 14px
);

$font-sizes: map-merge($font-sizes, $custom-font-sizes);

$spacers: map-merge(
  $spacers,
  (
    30: 30px,
    60: 60px,
    34: 34px,
    12: 12px,
    24: 24px,
    20: 20px,
    10: 10px,
    53: 53px,
    70: 70px,
    14: 14px,
    120: 200px,
    90: 90px,
    40: 40px,
    50: 50px,
    25: 25px,
    8: 8px,
    32: 32px,
    35: 35px,
    23: 23px,
    28: 28px,
    39: 39px,
    18: 18px
  )
);

@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (
            69: 69px,
            207: 207px,
            188: 188px,
            178: 178px,
            29: 29px,
            306: 306px,
            10: 10px
          )
        ),
      ),
    ),
    "height": map-merge(
      map-get($utilities, "height"),
      (
        values: map-merge(
          map-get(map-get($utilities, "height"), "values"),
          (
            185: 185px,
            59: 59px,
            29: 29px,
            528: 528px,
            10: 10px
          )
        ),
      ),
    ),
    "line-height": map-merge(
      map-get($utilities, "line-height"),
      (
        values: map-merge(
          map-get(map-get($utilities, "line-height"), "values"),
          (
            110: 110%,
            24: 24px,
            56: 56px,
            32: 32px
          )
        ),
      ),
    ),
    "font-family": (
      property: font-family,
      class: font,
      values: (
        primary: ("Inter", "sans-serif"),
        secondary: ("Poppins", "sans-serif"),
      )
    ),
  )
); 

$btn-border-radius: calc(infinity * 1px);
$btn-padding-x: 24px;
$btn-padding-y: 12px;
$btn-font-size: 18px;
$btn-font-weight: 500;
$btn-font-family: var(--bs-font-secondary);

$enable-gradients: true;

@import "../bootstrap/scss/bootstrap";

.btn {
  color: var(--bs-deep-navy);
}

.text-gradient {
  background: -webkit-linear-gradient(#FFFFFF, #323232);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-navy-green-responsive {
  background: linear-gradient(to right, #05092E, #00CED1);
}

.mb-n16 {
  margin-bottom: -16px;
}

.bg-lg-white {
  background: white;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

::placeholder {
  color: white !important;
  opacity: 1 !important;
}

::ms-input-placeholder {
  color: white !important;
}

@media (max-width: 1024px) {
  .bg-navy-green-responsive {
    background: linear-gradient(to bottom, #05092E, #00CED1);
  }
  .bg-lg-white {
    background: none;
  }
}